<h2>Cart works!</h2>

<button (click)="onAddRandomProduct()">Add random product</button>
<button (click)="onClearCart()">Clear cart</button>
<div *ngIf="isCartEmpty(); else productList">
    Cart is empty! Please, click on "Add random product" button.
</div>
<ng-template #productList>
    <h3>Products:</h3>
    <hr>
    <div *ngFor="let product of products">
        <h4>{{product.name}}</h4>
        <p>ID: #{{product.id}}</p>
        <p>Quantity: {{product.quantity}}</p>
        <p>Available: {{product.availability}}</p>
        <hr>
    </div>
</ng-template>
