<h5>Cart works!</h5>

<button (click)="onClearCart()">Clear cart</button>
<div *ngIf="isCartEmpty(); else productList">
    Cart is empty! Please, add some product from list.
</div>
<ng-template #productList>
    <h5>Products:</h5>
    <div>
        <h6 class="d-inline">Order by: </h6>
        <select class="d-inline" #selectedProperty (change)="onSelectOrderProperty(selectedProperty.value)">
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="quantity">Quantity</option>
        </select>
        <button class="btn btn-sm btn-light d-inline" (click)="onDesc()">
            <div *ngIf="desc">
                <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 01.708 0L8 12.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M8 2.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                </svg>
            </div>
            <div *ngIf="!desc">
                <svg class="bi bi-arrow-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                </svg>
            </div>
        </button>
    </div>
    <hr>
    <div class="row">
        <div class="col-1">ID</div>
        <div class="col-5">Name</div>
        <div class="col-3">Quantity</div>
        <div class="col-3">Price</div>
    </div>
    <div *ngFor="let product of products | orderByPipe:orderProperty:desc">
        <app-cart-item appMouseEnterBackround class="row" 
            [product]="product"
            (deleteProduct)="onRemoveProduct($event)"
            (addQuantityProduct)="onAddQuantity($event)"
            (subQuantityProduct)="onSubQuantity($event)">
            Loading...
        </app-cart-item>
    </div>
    <div class="row">
        <div class="col font-weight-bold">Totals:</div>
        <div class="col-4"></div>
        <div class="col-3 font-weight-bold">{{totalCount}}</div>
        <div class="col-3 font-weight-bold">{{totalPrice | currency}}</div>
    </div>
</ng-template>
